{% extends "network/layout.html" %}
{% load static %}
{% block body %}

<p id="hidden-element" style="display: none;">{{logged_user}}</p>
<div class="mid_section">
    <h1>All Posts</h1>
    <div id="new_post">
        <h3>New Post</h3>
        <div>
            <form action="{% url 'post' %}" method="POST">
                {% csrf_token %}
                <textarea name="text" class="textarea" required></textarea>
                <input type="submit" value="Post" id="submit">
            </form>
        </div>
    </div>
    {% if posts %}
        {% for post in posts %}
            <div class="post">
                <div class="top">
                    <div>
                        <a href="{% url 'profile' username=post.user %}">@{{ post.user }}</a>
                        {% if post.user == request.user %}
                            <button class="edit_buttom" id="{{post.pk}}" onclick="edit('{{post.pk}}')">Edit</button>
                        {% endif %}
                    </div>
                    <p>{{ post.date }}</p>
                </div>
                <div>
                    <p id="Paragraph{{post.pk}}">{{ post.text }}</p>
                </div>
                {% if post.user == request.user %}
                    <div class="edit_form">
                        <form action="">
                            <textarea class="textarea" id="Textarea{{post.pk}}" style="display: none;"></textarea>
                        </form>
                    </div>
                {% endif %}
                <div>
                    {%  if post.id in liked_post_ids %}
                        <button onclick="like('{{post.pk}}','like')" class="like-button" style="display: none;"  id="like_post{{post.pk}}">
                            &nbsp;
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                </svg> <span> {{ post.likes.all.count }}</span>
                            </p>
                        </button>
                        <button onclick="like('{{post.pk}}','unlike')" class="unlike-button" id="unlike_post{{post.pk}}">
                            &nbsp;
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                </svg> <span> {{ post.likes.all.count }}</span>
                            </p>
                        </button>
                    {% else %}
                        <button onclick="like('{{post.pk}}','like')" class="like-button" id="like_post{{post.pk}}">
                            &nbsp;
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                </svg> <span>{{ post.likes.all.count }}</span>
                            </p>
                        </button>
                        <button  onclick="like('{{post.pk}}','unlike')" class="unlike-button" style="display: none;" id="unlike_post{{post.pk}}">
                            &nbsp;
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                </svg> <span>{{ post.likes.all.count }}</span>
                            </p>
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
        
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                    <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <br>
        <div id="no_post">
            <strong>No posts so far</strong>
        </div>
    {% endif %}

    
</div>

<script src="{% static 'network/index.js' %}"></script>
{% endblock %}